# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite/Build
vite.config.ts.timestamp-*
*.tsbuildinfo

# Local Data and Backups (Test data)
n8n_p'top_flow
n8n_file_upload_guide.md

# External Data
/external_data